<div class="cards bg-secondary-subtle py-5">
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
			{%- for item in include.content -%}
				<div class="col align-items-stretch d-flex">
					<div class="card">
						<div class="card-body">
							{%- if item.image -%}
								<img class="img-fluid mb-3 rounded" src="{{ item.image }}" alt="Building Construction" />
							{%- endif -%}
							{%- if item.heading -%}
								<div class="h3 text-danger">{{ item.heading }}</div>
							{%- endif -%}
							{%- if item.content -%}
								<p>{{ item.content }}</p>
							{%- endif -%}
						</div>
					</div>
				</div>
			{%- endfor -%}
		</div>
	</div>
</div>
