<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ "assets/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ 'assets/main.js' | relative_url }}"></script>

<footer class="footer py-5">
	<div class="container">
		<div class="row row-cols-1 row-cols-md-2 g-4">
			<div class="col-12 col-lg-9">
				<div class="h3 text-danger">Services</div>
				<ul>
					<li>
						<a class="text-decoration-none icon-link icon-link-hover" href="/pls-cadd">
							PLS-CADD<i class="bi bi-arrow-right"></i
						></a>
					</li>
					<li>
						<a class="text-decoration-none icon-link icon-link-hover" href="/pls-pole">
							PLS-POLE<i class="bi bi-arrow-right"></i
						></a>
					</li>
					<li>
						<a class="text-decoration-none icon-link icon-link-hover" href="/pls-tower">
							PLS-TOWER<i class="bi bi-arrow-right"></i
						></a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-lg-3">
				<div class="h3 text-danger">Contact</div>
				<address>
					<p><strong>Pesadesign</strong></p>
					<p><strong>Phone: </strong><span>+31 65 380 88 88</span></p>
					<p><strong>Email: </strong><span>office@pesadesign.com</span></p>
				</address>
			</div>
		</div>
		<p>© 2025 Pesadesign. All rights reserved.</p>
	</div>
</footer>