---
layout: default
---

<div class="pls">
	<div class="container py-5">
		<div class="featured-image" style='max-height: 400px; overflow: hidden;'>
			<img src="assets/slide1.jpg" alt="featured" height='500' class='img-fluid'>
		</div>
		<div class="h6 text-danger mt-5">put your tagline here</div>
		<div class="h2">PLS Tower</div>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum commodi quaerat dicta inventore autem velit vero, magni repudiandae dignissimos. Praesentium sint vitae aliquam ipsum quo fugiat soluta consectetur aliquid nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum temporibus animi voluptates delectus tempora ipsum, modi vitae doloremque soluta. Optio animi atque et quas minus tempora dolorum, corporis fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque neque, quos assumenda voluptate, nam excepturi pariatur, est officiis aperiam incidunt illum culpa tenetur quo. Voluptatem quae delectus porro accusantium temporibus.</p>
	</div>
</div>